<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}-MoAspEnginer演示应用</title>
<link href="{$$MO_ROOT}App/Templates/default/Home/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wapper">
		<a href="?m=Home&a=clearcache">清理缓存</a>
		<a href="?m=Home&a=Index">基本演示</a>
		<a href="?m=Home&a=db">数据库演示</a>
		<div id="content">