<assign name="title" value="数据库演示" />
<include file="top.html" />
	<h3>数据库演示：程序-/App/Controllers/DataController.asp，模板-/App/Views/default/Home/Data.html</h3>
<table width="100%" class="list">
	<thead class="h">
		<tr><td width="10%">项目</td><td>执行结果</td></tr>
	</thead>
	<tbody class="l">
		<tr><td>影响行数</td><td>{$lastRows}</td></tr>
		<tr><td>数据记录</td><td>{$recordcount}</td></tr>
		<tr><td>查询记录</td><td>{$count}</td></tr>
		<tr>
			<td>loop</td>
			<td>
				<h4>Model生成的数据</h4>
				<table class="list" width="50%">
					<tr class="h"><td>ID</td><td>名字</td><td>年龄</td><td>生日</td></tr>
				<loop name="data">
					<tr><td>{$data.id}</td><td>{$data.name}</td><td>{$data.age}</td><td>{$data.birthday:F.formatdate="yyyy-MM-dd"}</td></tr>
				</loop>
				</table>
			</td>
		</tr>
			
		<tr>
			<td>loop</td>
			<td>
				<h4>手动构建的数据</h4>
				<table class="list" width="50%">
					<tr class="h"><td>ID</td><td>名字</td><td>年龄</td><td>生日</td></tr>
				<loop name="dataself">
					<tr><td>{$dataself.id}</td><td>{$dataself.name}</td><td>{$dataself.age}</td><td>{$dataself.birthday:F.formatdate="yyyy-MM-dd"}</td></tr>
				</loop>
				</table>
			</td>
		</tr>
	</tbody>
</table>
<include file="foot.html" />