<assign name="title" value="'Encoding演示'" />
<include file="top.html" />
	<h3>Encoding演示：程序-/App/Controllers/EncodingController.asp，模板-/App/Views/default/Home/Encoding.html</h3>
<table width="100%" class="list">
	<thead class="h">
		<tr><td width="180">项目</td><td>结果</td></tr>
	</thead>
	<tbody class="l">
		<tr><td>encodeURIComponent(gbk)</td><td>{$encodeURIComponentgbk}</td></tr>
		<tr><td>encodeURI(gbk)</td><td>{$encodeURIgbk}</td></tr>
		<tr><td>decode(gbk)</td><td>{$decodegbk}</td></tr>
		<tr><td>GBKByteArray</td><td>{$GBKByteArray}</td></tr>
		<tr><td>GBKWordArray</td><td>{$GBKWordArray}</td></tr>
		<tr><td>GBKBytesHex</td><td>{$GBKBytesHex}</td></tr>
		<tr><td>GBKBase64</td><td>{$GBKBase64}</td></tr>
		<tr><td>GBKString</td><td>{$GBKString}</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td>encodeURIComponent(utf-8)</td><td>{$encodeURIComponentutf8}</td></tr>
		<tr><td>encodeURI(utf-8)</td><td>{$encodeURIutf8}</td></tr>
		<tr><td>decode(utf-8)</td><td>{$decodeutf8}</td></tr>
		<tr><td>UTF8ByteArray</td><td>{$UTF8ByteArray}</td></tr>
		<tr><td>UTF8WordArray</td><td>{$UTF8WordArray}</td></tr>
		<tr><td>UTF8BytesHex</td><td>{$UTF8BytesHex}</td></tr>
		<tr><td>UTF8Base64</td><td>{$UTF8Base64}</td></tr>
		<tr><td>UTF8String</td><td>{$UTF8String}</td></tr>
		<tr><td colspan="2">&nbsp;</td></tr>
		<tr><td>UnicodeByteArray</td><td>{$UnicodeByteArray}</td></tr>
		<tr><td>UnicodeWordArray</td><td>{$UnicodeWordArray}</td></tr>
		<tr><td>UnicodeBytesToWords</td><td>{$UnicodeBytesToWords}</td></tr>
		<tr><td>UnicodeBytesHex</td><td>{$UnicodeBytesHex}</td></tr>
		<tr><td>UnicodeBase64</td><td>{$UnicodeBase64}</td></tr>
		<tr><td>UnicodeString</td><td>{$UnicodeString}</td></tr>
	</tbody>
</table>
<include file="foot.html" />