<assign name="title" value="Mpi演示" />
<include file="top.html" />
	<h3>Mpi演示：程序-/App/Controllers/MpiController.asp，模板-/App/Views/default/Home/Mpi.html</h3>
	<h4 style="color:red">正式环境中，请删掉此控制器或只允许特定的权限运行本控制器</h4>
	<h5>可用模块：</h5>
	<table width="100%" class="list">
		<thead class="h">
			<tr><td width="30">序号</td><td width="200">名称</td><td width="60">版本</td><td width="40">安装</td><td>描述</td><td width="60">依赖</td></tr>
		</thead>
		<tbody class="l">
		<for name="modules" value="module">
			<tr>
				<td>{$key + 1}</td>
				<td><a href="http://mpi.thinkasp.cn/?/mpi/package/info/{$module.name}" target="_blank">{$module.name}</a></td>
				<td>{$module.version}</td>
				<eq name="module.exists" value="true" type="bool">
				<td><span style="color:green">已安装</span></td>
				</else>
				<td><a href="?m=Mpi&a=Install&pkgname={$module.name}" onclick="return window.confirm('确定要安装模块[{$module.name}]吗？');">安装</a></td>
				</eq>
				<td>{$module.description}
				<nempty name="module.extfiles">
					<fieldset style="margin:0;padding: 5px;border:1px #999 solid; width:40%">
						<legend>其他文件</legend>
					<foreach name="module.extfiles" key="file" value="item"><span style="color:red">{$item.name}：{$item.description}</span> <a href="{$item.url}" target="_blank">下载</a><br /></foreach>
					</fieldset>
				</nempty>
				</td>
				<td><foreach name="module.dependencies" key="name">{$name}<br /></foreach></td>
			</tr>
		</for>
		</tbody>
	</table>
<include file="foot.html" />