<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{$title}-MoAspEnginer演示应用</title>
<link href="{$$MO_ROOT}App/Views/default/Home/css.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="wapper">
		<div class="navs">
			<a href="?m=Home&a=clearcache">清理缓存</a>
			<a href="?m=Home&a=Home">基本演示</a>
			<a href="?m=DB">数据库演示</a>
			<a href="?m=Form">Form演示</a>
			<a href="?m=Session" target="_blank">Session</a>
			<a href="?m=Cookie" target="_blank">Cookie</a>
			<a href="?m=HttpRequest" target="_blank">HttpRequest</a>
			<a href="?m=HttpUpload" target="_blank">HttpUpload</a>
			<a href="?m=Encoding">Encoding演示</a>
			<a href="?m=Soap">Soap演示</a>
			<a href="?m=QRCode" target="_blank">二维码(QRCode)</a>
			<a href="?m=SafeCode">验证码</a>
			<a href="?m=CryptoJS">CryptJS</a>
			<a href="?m=Attrs" target="_blank">IO属性操作</a>
			<a href="?m=Zip" target="_blank" class="green">Zip压缩/解压缩</a>
			<a href="?m=Console" target="_blank" class="green">MEM控制台</a>
			<a href="http://www.thinkasp.cn/catalog/extend/" target="_blank" class="red">安装模块</a>
		</div>
		<div id="content">